# Ignore everything on root level
/*

# Ignore always
*csproj.user
bin/
obj/

# Add source files
!/src/

# Add root level files
!.gitignore
!Directory.Build.props
!Directory.Build.targets
!LICENSE
!MonoDetour.sln
!README.md
