# Ignore everything on root level
/*

# Ignore always
*csproj.user
bin/
obj/

# Add source files
!/src/
!/tests/

# Config files
!/.config/
/.config/*
!/.config/dotnet-tools.json

!/.github/

# Add root level files
!/.csharpierignore
!/.gitignore
!/CONTRIBUTING.md
!/Directory.Build.props
!/Directory.Build.targets
!/icon.png
!/LICENSE
!/MonoDetour.sln
!/README.md
