name: Publish

on:
  release:
    types: [prereleased, released]

  workflow_dispatch:
    inputs:
      publish-on:
        description: 'Publish on Platforms'
        required: true
        default: 'all'
        type: choice
        options:
          - 'all'
          - 'thunderstore'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Dispatch Event deploy-docs for MonoDetour.github.io
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.PAT_MONODETOUR_DOCS }}
          script: |
            const result = await github.rest.repos.createDispatchEvent({
              owner: 'MonoDetour',
              repo: 'MonoDetour.github.io',
              event_type: 'deploy-docs'
            })
            console.log(result);

      - name: Restore and Build
        uses: ./.github/actions/build

      - name: Run Tests
        run: dotnet run -c Release --no-build --project ./tests/MonoDetour.UnitTests/

      - name: Pack
        run: dotnet pack -c Release --no-build

      - name: Publish NuGet
        if: ${{ inputs.publish-on != 'thunderstore' }}
        run: dotnet nuget push ./artifacts/package/release/*.nupkg --skip-duplicate --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json

      - name: Publish Thunderstore
        env:
          TCLI_AUTH_TOKEN: ${{ secrets.THUNDERSTORE_API_TOKEN }}
        run: dotnet build ./packaging/ -c Release -property:PublishMonoDetour=true
